In [4]:
10 + 6

16

In [6]:
16 * 5

80

In [8]:
print (10 + 5)
print(16 * 5)

15
80

# Hello

Today we are going to learn data types topic